body {
  font-family: "Aleo", sans-serif;
  text-align: center;
  background-color: var(--UCLLWHITE);
  margin: 0;
  padding: 0;
}

.ontspanning-container {
  display: flex;
  height: 80vh;
}

.sidebar {
  width: 220px;
  background-color: var(--UCLLBODYCOLOR);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100%;
}

.sidebar button {
  background: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.1s;
  width: 100%;
}

.sidebar button:hover {
  color: var(--UCLLWHITE);
}

.content {
  flex-grow: 1;
  padding: 20px;
  height: 80vh;
}

h2 {
  margin-top: 0;
  color: var(--UCLLRED);
  font-size: 1.7em;
  border-bottom: 1px solid black;
}

body.dark-mode {
  background-color: #3a3b3c;

  h1 {
    color: #f2f0ef;
  }

  h2 {
    color: #f2f0ef;
  }
  p {
    color: #f2f0ef;
  }
  #activiteiten-generator {
    background-color: #636363;
  }

  #meditatie {
    background-color: #636363;
  }

  #stretch {
    background-color: #636363;
  }

  .sidebar {
    background-color: #636363;
    button {
      background-color: #636363;
    }
    button:hover {
      background-color: #380a1c;
    }
  }

  button {
    background-color: #380a1c;
  }
}

section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  background: white;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: black;
}

.random-button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  margin: 15px 0;
  border-radius: 15px;
  cursor: pointer;
  width: 35%;
  transition: 0.3s;
}

button:hover {
  background-color: var(--UCLLRED);
}

p {
  font-size: 18px;
  color: #374151;
}

iframe {
  border-radius: 15px;
}

#stretch img {
  margin-top: 10px;
  max-width: 300px;
  border-radius: 10px;
  justify-self: center;
}

body.dark-mode {
  body {
    background-color: #3a3b3c;
    color: #f2f0ef;
  }

  .sidebar {
    background-color: #2a2a2a;
  }

  .sidebar button {
    color: #f2f0ef;
  }

  .sidebar button:hover {
    color: #e30048;
  }

  .content {
    background-color: #1e1e1e;
  }

  h2 {
    color: #f2f0ef;
    border-bottom: 1px solid #888;
  }

  section {
    background: #2a2a2a;
    color: #f2f0ef;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
  }

  button {
    background-color: #380a1c;
    color: #f2f0ef;
  }

  button:hover {
    background-color: #e30048;
  }

  .random-button {
    background-color: #1d4ed8;
  }

  p {
    color: #d1d5db;
  }

  #stretch img {
    border: 2px solid #f2f0ef;
  }
}
