:root {
  --UCLLRED: #e30048;
  --H1BLUE: #1b3565;
  --UCLLWHITE: #ffffff;
  --UCLLBODYCOLOR: #e9f3f8;
  font-family: "Aleo", sans-serif;
}
/* body margin:0 zorgt er voor dat de standaard margin van de browser gereset wordt*/
body {
  margin: 0;
  background-color: var(--UCLLBODYCOLOR);
  font-weight: 400;
}

h1 {
  color: var(--H1BLUE);
}
/* zorgt ervoor vdat de ul horizontaal gecentered wordt */
nav {
  display: flex;
  justify-content: flex-start;
  background-color: var(--UCLLRED);
  font-size: 20px;
  width: 100%;
}

footer {
  display: flex;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: var(--UCLLRED);
  color: var(--UCLLWHITE);
  font-size: 20px;

}
/* zorgt ervoor dat de li's verticaal gecentered worden */
nav ul {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

li {
  list-style: none;
}

li a {
  color: var(--UCLLWHITE);
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.UCLL-Logo:hover {
  opacity: 80%;
}
/* zorgt ervoor dat het studentbuddy logo naast het ucll logo staat*/
#student-buddy-logo {
  margin-left: -2rem;
}

div {
  margin-left: 20rem;
  margin-right: 20rem;
}

button {
  font-family: "Aleo", sans-serif;
  color: var(--UCLLWHITE);
  border-radius: 5px;
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 7em;
}

button:hover {
  cursor: pointer;
}

dt {
  color: var(--H1BLUE);
  font-size: 20px;
  font-weight: bold;
}

.main-content-container {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: var(--UCLLWHITE);
  border-radius: 15px;
  padding: 1em;
}

.main-content-text {
  margin: 0;
  text-align: start;
  grid-area: 0/0/1/1;
  background-color: var(--UCLLWHITE);
  padding-right: 1em;
}

.main-content-image {
  background-color: pink;
  color: var(--UCLLWHITE);
  margin: 0;
  margin-top: -1em;
  margin-bottom: -1em;
  margin-right: -1em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  padding-top: 20%;
  background-image: url(images/portrait-latin-college-student-feeling-tired-overwhelmed-school-taking-nap.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
