:root {
  --UCLLRED: #c7314b;
  --H1BLUE: #1b3565;
}

h1 {
  color: var(--H1BLUE);
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

li {
  list-style: none;
}

div {
  margin-left: 20rem;
  margin-right: 20rem;
}
