:root {
  --UCLLRED: #c7314b;
  --H1BLUE: #1b3565;
}
/* body margin:0 zorgt er voor dat de standaard margin van de browser gereset wordt*/
body {
  margin: 0;
}

h1 {
  color: var(--H1BLUE);
}

nav {
  display: flex;
  justify-content: center;
  background-color: var(--UCLLRED);
}

ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

li {
  list-style: none;
}

div {
  margin-left: 20rem;
  margin-right: 20rem;
}
